{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "react/react-in-jsx-scope": "disable",
        "react/jsx-filename-extension": "disable",
        "react/prop-types": "disable",
        "jsx-a11y/anchor-is-valid": "disable",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "e2e-tests/**/*.js",
                    "tests/**/*.test.js"
                ]
            }
        ]
    } 
}